@font-face 
{
    font-family: 'mrz';
    src: url('Naskh Titr Shadow_MRT.ttf') format('ttf');
}
body
{
    font-family: tahoma;
    direction: rtl;
  
     background-color: antiquewhite;
     

li
{
   
    font-size: 40px;
    margin: 15px;
    color: rgb(131, 80, 5);
    
}
.b
{
text-align: center;
font-size: 60px;
color: chocolate;
}
.b2
{
margin:15px;
font-size: 40px;
color: chocolate;
}